# .idea has it's own .gitignore file

# Compilation Files
/DAO/target/
/JavaFX/target/
/Model/target/
/target/

# If any user/system specific shourtcuts like intelli location are present.
*.lnk

*.log
*.out

